<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>AccountsReceivable</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
		<script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="h-full">
		<!-- TailwindUI sidebar layout -->
		<!-- https://tailwindui.com/components/application-ui/application-shells/sidebar -->

		<div>
			<%= render "layouts/sidebar" %>

			<div class="md:pl-64 flex flex-col">
				<%= render "layouts/top_bar" %>

				<main class="flex-1">
					<div class="p-6">

						<% flash.each do |type, msg| %>
							<div>
							</div>
							<div class="rounded-md bg-yellow-50 p-4">
								<div class="flex">
									<div class="flex-shrink-0">
										<svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
											<path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
										</svg>
									</div>
									<div class="ml-3">
										<h3 class="text-sm font-medium text-yellow-800"><%= type.upcase %></h3>
										<div class="mt-2 text-sm text-yellow-700">
											<p><%= msg %></p>
										</div>
									</div>
								</div>
							</div>
						<% end %>

						<%= yield %>
					</div>
				</main>
			</div>
		</div>
  </body>
</html>
